@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
* {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  color: black;
}
.navbar {
  background-color: rgb(245, 200, 208);
}

.card {
  background-color: rgb(255, 225, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
